html,
body {
  height: 100%;
  font-family: 'Raleway-Medium';
  @extend %color-text;
}

a {
  @extend %color-text;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

//Dropdown
.drop-btn {
  padding-bottom: -15px;
  position: relative;
  background-color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  @extend %color-text;
  transition: all 0.5s;
  &::after {
    position: absolute;
    content: '';
    background-image: url(../images/dropdown.png);
    width: 7px;
    height: 6px;
    top: 9px;
    right: -8px;
    z-index: 999;
  }
  &:hover {
    color: #994B2A;
  }
}

.dropdown-icon {
  margin-left: 5px;
}

// .drop-btn.active {
//   display: block;
//   transform: translateX(-10%);
//   transition: all 0.5s;
// }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  // height: 80vh;
  // background-color: #fff;
  // // padding-left: 100px;
  // padding-top: 30px;
  // width: 99vw;
  // left: -658px;
  // position: absolute;
  // display: none;
  // -webkit-box-shadow: 10px 5px 7px 0px rgba(0, 0, 0, 0.21);
  // box-shadow: 10px 5px 7px 0px rgba(0, 0, 0, 0.21);
  // z-index: 999;
  // display: none;
  transform: translateY(-1100%);
  position: fixed;
  width: 100vw;
  top: 110px;
  left: 0;
  right: 0;
  padding-bottom: 100vh;
  background-color: #fff;
  overflow: auto;
  z-index: 999;
  -webkit-box-shadow: -9px -1px 9px 0px rgba(0, 0, 0, 0.12);
  box-shadow: -9px -1px 9px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}

.dropdown-content.active {
  transition: all 0.5s;
  transform: translateY(0%);
}

.dropdown-content>li {
  background-color: #fff;
  transition: all 0.5s;
}

.dropdown-items {
  margin-top: 5px;
  display: grid;
  justify-content: center;
  margin-right: 470px;
}

.dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  font-size: 14px;
  overflow: hidden;
}

.dropdown-content a {
  transition: all 0.5s;
}

.dropdown-content a:hover {
  color: #994B2A;
}

.dropdown-content a:hover + .dropdown-right {
  opacity: 1.0;
}

.dropdown-social {
  position: absolute;
  right: 320px;
  display: flex;
  margin-top: 80px;
}

.dropdown-social li {
  margin-left: 20px;
}

// .dropdown:hover .dropdown-content {
//   display: block;
// }

.title-collection {
  @extend %Playfair-400;
  font-size: 36px;
  line-height: 103.3%;
  letter-spacing: -0.01em;
  position: relative;
  margin-bottom: 40px;

  &::before {
    position: absolute;
    content: '';
    bottom: -20px;
    background-image: url(../images/line-slider.svg);
    height: 1px;
    max-width: 85px;
    width: 100%;
}
}

.title-reviews {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  &::before {
    position: absolute;
    content: '';
    bottom: -13px;
    background-image: url(../images/line-title-reviews.svg);
    height: 1px;
    max-width: 85px;
    width: 100%;
  }
}



.title {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.title::before {
  position: absolute;
  content: '';
  bottom: -13px;
  background-image: url(../images/line-slider.svg);
  height: 1px;
  max-width: 85px;
  width: 100%;
}

.link-more {
  position: relative;
  color: #994B2A;
  transition: all 0.8s;
  line-height: 19px;
  letter-spacing: 0.05em;
  &:hover {
    margin-left: 8px;
}
&::before {
  position: absolute;
  content: '';
  background-image: url(../images/arrow-read.svg);
  top: 5px;
  right: -15px;
  width: 10px;
  height: 9px;
}

  }
