html,
body {
  height: 100%;
  font-family: 'Raleway-Medium';
  @extend %color-text;
}

a {
  @extend %color-text;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

//P O P - U P
.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  opacity: 0; 
  pointer-events: none; 
  transition: 0.5s all;
}

.popup__bg.active { 
  opacity: 1; 
  pointer-events: all; 
  transition: 0.5s all;
  z-index: 9999;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%) scale(0); /* По центру экрана */
  background: #fff;
  max-width: 690px;
  width: 100%;
  max-height: 777px;
  height: 100%;
  padding: 25px;
  transition: 0.5s all;
  z-index: 9999;
  display: grid;
  justify-content: center;
}

.popup-inner {
  display: flex;
  justify-content: space-between;
}

.popup-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: relative;
  margin-top: 50px;
  margin-bottom: 25px;

  &__line {
    position: absolute;
    top: 110px;
    left: 155px;
  }
}


.popup.active {
  transform: translate(-50%, -50%) scale(1); 
  transition: 0.5s all;
}

.popup input::placeholder {
  color: #994B2A;
}

.popup input {
  padding-left: 5px;
}


/* Далее код для стилизации формы */
.close-popup {
  top: 50px;
  right: 30px;
  cursor: pointer;
  width: 23px;
  transition: all 0.5s;
}

.close-popup:hover {
  transform: rotate(90deg);
}

.popup label {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column-reverse;
}

.popup .label__text {
  font-size: 14px;
  font-weight: 500;
  color: #1F4437;
  margin-bottom: 5px;
}

.popup input {
  height: 45px;
  width: 380px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #DCD5C5;
  background-color: #ebdbd438;
}

.popup input:focus {
  border-bottom: 2px solid #994B2A;
}

.popup input:focus + .label__text {
  color: #994B2A;
}

.popup textarea {
  resize: none;
  width: 380px;
  height: 150px;
  border: none;
  outline: none;
  border-bottom: 2px solid #DCD5C5;
  font-size: 18px;
  padding-top: 5px;
  background-color: #ebdbd438;
}

.popup textarea:focus {
  border-bottom: 2px solid #994B2A;
}

.popup textarea:focus + .label__text {
  color: #994B2A;
}

.popup button {
  @extend %Raleway-700;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  background-color: #DBB19F;
  cursor: pointer;
  transition: 0.5s all;
  padding: 16px 15px;
  border: none;
}

.popup button:hover {
  background-color: $green;
  transition: 0.5s all;
}

.inner {
  margin-top: 150px;
}


//Dropdown
.drop-btn {
  padding-bottom: -15px;
  position: relative;
  background-color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  @extend %color-text;
  transition: all 0.5s;
  &::after {
    position: absolute;
    content: '';
    background-image: url(../images/dropdown.png);
    width: 7px;
    height: 6px;
    top: 9px;
    right: -8px;
    z-index: 999;
  }
  &:hover {
    color: #994B2A;
  }
}

.dropdown-icon {
  margin-left: 5px;
}

// .drop-btn.active {
//   display: block;
//   transform: translateX(-10%);
//   transition: all 0.5s;
// }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  // height: 80vh;
  // background-color: #fff;
  // // padding-left: 100px;
  // padding-top: 30px;
  // width: 99vw;
  // left: -658px;
  // position: absolute;
  // display: none;
  // -webkit-box-shadow: 10px 5px 7px 0px rgba(0, 0, 0, 0.21);
  // box-shadow: 10px 5px 7px 0px rgba(0, 0, 0, 0.21);
  // z-index: 999;
  // display: none;
  transform: translateY(-1100%);
  position: fixed;
  width: 100vw;
  top: 110px;
  left: 0;
  right: 0;
  padding-bottom: 100vh;
  background-color: #fff;
  overflow: auto;
  z-index: 999;
  -webkit-box-shadow: -9px -1px 9px 0px rgba(0, 0, 0, 0.12);
  box-shadow: -9px -1px 9px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}

.dropdown-content.active {
  transition: all 0.5s;
  transform: translateY(0%);
}

.dropdown-content>li {
  background-color: #fff;
  transition: all 0.5s;
}

.dropdown-items {
  margin-top: 5px;
  display: grid;
  justify-content: center;
  margin-right: 470px;
}

.dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  font-size: 14px;
  overflow: hidden;
}

.dropdown-content a {
  transition: all 0.5s;
}

.dropdown-content a:hover {
  color: #994B2A;
}

.dropdown-content a:hover + .dropdown-right {
  opacity: 1.0;
}

.dropdown-social {
  position: absolute;
  right: 320px;
  display: flex;
  margin-top: 80px;
}

.dropdown-social li {
  margin-left: 20px;
}

// .dropdown:hover .dropdown-content {
//   display: block;
// }

.title-collection {
  @extend %Playfair-400;
  font-size: 36px;
  line-height: 103.3%;
  letter-spacing: -0.01em;
  position: relative;
  margin-bottom: 40px;

  &::before {
    position: absolute;
    content: '';
    bottom: -20px;
    background-image: url(../images/line-slider.svg);
    height: 1px;
    max-width: 85px;
    width: 100%;
}
}

.title-reviews {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  &::before {
    position: absolute;
    content: '';
    bottom: -13px;
    background-image: url(../images/line-title-reviews.svg);
    height: 1px;
    max-width: 85px;
    width: 100%;
  }
}

.title {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.title::before {
  position: absolute;
  content: '';
  bottom: -13px;
  background-image: url(../images/line-slider.svg);
  height: 1px;
  max-width: 85px;
  width: 100%;
}

.link-more {
  position: relative;
  color: #994B2A;
  transition: all 0.8s;
  line-height: 19px;
  letter-spacing: 0.05em;
  &:hover {
    margin-left: 8px;
}
&::before {
  position: absolute;
  content: '';
  background-image: url(../images/arrow-read.svg);
  top: 5px;
  right: -15px;
  width: 10px;
  height: 9px;
}

  }
