@media (max-width: 1400px) {
    .top__slider-info {
        margin-left: -110px;
        transform: translate(300px, 100px)
    }

    .collections__inner {
        margin-left: -5px;
    }

    .collections__item {
        margin-left: 5px;
    }
}

@media (max-width: 1200px) {
    .top__slider-img {
        height: 360px;
    }

    .collections__image {
        width: 311px;
        height: 275px;
    }

    .title-collection {
        font-size: 24px;
        max-width: 311px;
    }

    .collections__info-text {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {

    .top__slider-img {
    object-fit: cover;
    }

    .top__slider-info {
        transform: translate(200px, 60px);
    }

    .collections__info-text {
        max-width: 296px;
    }

    .collection-page__items {
        grid-template-columns: 200px 200px 200px 200px;
        gap: 21px;

    }

    .footer__info-title {
        font-size: 46px;
        margin-right: 5px;
    }

    .footer__form-btn {
        margin-right: 5px;
    }

}

@media (max-width: 895px) {

    .menu__list-link {
        margin-left: 20px;
    }

    .logo {
        order: -1;
    }

    .top__slider-title {
        font-size: 24px;
    }

    .top__slider-text {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .link-more {
        font-size: 14px;
    }

    .top__slider-img {
        height: 260px;
    }

    .collections__inner {
        display: grid;
        justify-content: center;
    }

    .collections__item {
        margin-top: 12px;
    }

    .reviews__inner {
        font-size: 14px;
    }

    .title-reviews {
        font-size: 14px;
    }

    .footer__form-input {
        padding: 14px 85px 16px 12px;
    }

    .footer__bottom {
        font-size: 13px;
    }

    .footer__copyright-text {
        margin-left: 8px;
    }
}


@media (max-width: 816px) {

    .title {
        margin-left: 10px;
    }

    .header__inner {
        display: flex;
        justify-content: space-around;
    }

    .menu {
        display: none;
    }

    .header__btn-inner {
        display: flex;
        align-items: center;
    }

    .header__btn-menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-left: 20px;

        p {
            background-color: #1F4437;
            width: 23px;
            height: 2px;
            margin: 4px 0px;
        }
    }

    .collection-page__items {
        display: grid;
        grid-template-columns: 200px 200px;
        justify-content: center;
    }

    .collection-body,
    .collection-page {
        padding: 60px 0 40px;
    }

    .footer__top {
        display: grid;
        justify-content: center;
    }

    .footer__info {
        max-width: 350px;
    }

    .footer__info-title {
        font-size: 36px;
    }

    .footer__text {
        margin-top: 36px;
    }

    .footer__form-inner {
        display: inline-grid;
    }

    .footer__form-btn {
        margin: 15px 0;
    }

    .footer__top-logo {
        display: none;
    }

    .border-footer {
        opacity: 0.2;
        border: 1px solid #FFF;
    }

    .footer__bottom {
        display: grid;
        justify-content: center;
        margin-top: 40px;
    }

    .footer__menu-title {
        margin-top: 30px;
    }

    .footer__contacts-title {
        margin-top: 30px;
    }

    .footer__social {
        margin-bottom: 40px;
    }

    .ext-logo-media {
        display: block;
    }

    .footer__copyright {
        margin-top: 50px;
    }

    .footer__copyright-text {
        margin-left: 0;
    }

    .ext-logo {
        display: none;
    }
}


@media (max-width: 570px) {
    .title {
        font-size: 14px;
    }

    .slick-dots {
        display: none;
    }

    .top__inner {
        padding-bottom: 50px;
    }

    .collections {
        padding: 30px 0;
    }

    .collections__image {
        width: 300px;
    }

    .reviews__inner {
        margin-top: -60px;
    }

    .swiper-button-prev-reviews {
        display: none;
        // width: 30px;
        // height: 30px;
    }

    .advantages {
        padding: 20px 0 90px;
    }

    .advantages__items {
        margin-top: 80px;
    }

    .advantages__item img {
        width: 80px;
        height: 80px;
    }

    .advantages__text {
        font-size: 14px;
    }

    .information {
        padding: 100px 0 150px;
    }
    
    .information__text {
        font-size: 24px;
    }

    .collection-page__items {
        grid-template-columns: 165px 165px;
    }

    .collection-page__item {
        border: 1px solid #F2EDE8;
    }

    .swiper-slide__inner {
        padding: 5px;
    }

    .swiper-popular__title {
        font-size: 20px;
    }

    .swiper-popular__title-bottom {
        font-size: 14px;
    }

    .swiper-popular__text {
        font-size: 12px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

    .swiper-slide__add-cart {
        display: none;
    }

    .add-plus {
        display: block;
        margin-top: -12px;
    }
    
}

@media (max-width: 400px) {
    .reviews {

    } 

    .top__slider-info {
        transform: translate(152px, 40px);
    }

    .top__slider-title {
        max-width: 130px;
    }

    .advantages__items {
        display: grid;
        justify-content: center;
        margin-top: 40px;
    }

    .advantages__item {
        margin-top: 30px;
    }

    .advantages__text {
        margin-top: 10px;
    }

    .popular__title {
        max-width: 150px;
    }

    .collection-page__items {
        gap: 6px;
        grid-template-columns: 140px 140px;
    }
}