%Raleway-italic {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 400;
}

%Raleway-500 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

%Raleway-700 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

%Playfair-400 {
    font-family: 'Playfair Display';
    font-weight: 400;
}

%color-text {
    color: #1F4437;
}

$green: #1F4437;

