@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.banner {
    background-color: #1F4437;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 9px 0;
}

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
    }
}

.menu-btn {
    display: none;
    background-color: transparent;
    border: none;
}

.menu {
    &__inner {
        display: flex;
    }

    &__list {
        display: flex;
    }

    &__list-item {
        display: flex;
    }

    &__list-link {
        margin-left: 40px;
        transition: all 0.8s;
        position: relative;

        &:hover {
            color: #994B2A;
        }
    }

    &__list-cart {
        display: flex;
    }

    &__link-cart {
        transition: all 0.8s;

        &:hover {
            color: #994B2A;
        }
    }

    &__icon-cart {
        margin-right: 12px;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__cart-num {
        top: -10px;
        right: 6px;
        position: absolute;
        font-size: 9px;
        letter-spacing: 1px;
        font-feature-settings: 'pnum'on, 'lnum'on;
        background-color: #DA4110;
        padding: 5px 3px;
        color: #FFF;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.border {
    border-top: 1px solid #1F4437;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
}

//C h e c k  B o x
.custom {
    opacity: 0;
    position: relative;
}

.custom+label {
    display: grid;
    grid-template-columns: 24px auto;
    grid-template-rows: auto auto;
    align-items: center;
    column-gap: 1em;
    position: relative;
    cursor: pointer;
}

.custom[type="checkbox"]+label::before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 3px;
    border: 1px solid #E0D9CB;
    background: transparent;
    position: relative;
}

.custom[type="checkbox"]+label::after {
    content: "\2713";
    color: rgb(192, 53, 53);
    font-size: 0.9rem;
    font-weight: 700;
    position: absolute;
    top: -2px;
    left: 2px;
    transform: scale(0);
    transition: all 300ms ease-in-out;
}

.custom[type="checkbox"]:checked+label::after {
    transform: scale(1);
}

.card.active {
    height: 88px;
    width: 100%;
}

.rightside-menu::-webkit-scrollbar-track {
    background: $green;
}

.rightside-menu::-webkit-scrollbar {
    width: 7px;
}

.rightside-menu::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 5px solid rgb(68, 151, 103);
}

.rightside-menu.active {
    transform: translateX(-0%);
    transition: all 0.5s;
}

.rightside-menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 590px;
    background-color: #fff;
    width: 100%;
    overflow: auto;
    transform: translateX(110%);
    transition: all 0.8s;
    border-left: 1px solid $green;
    -webkit-box-shadow: -9px -1px 9px 0px rgba(0, 0, 0, 0.12);
    box-shadow: -9px -1px 9px 0px rgba(0, 0, 0, 0.12);
    z-index: 9999;

    &__top {
        margin: 45px 0 0 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }

    &__close {
        background-color: transparent;
        border: none;
        margin-right: 40px;
        transition: all 0.5s;
    }

    &__close:hover {
        transform: rotate(90deg);
    }

    &__content {
        margin: 51px 0 0 60px;
    }

    &__title {
        @extend %Playfair-400;
        font-size: 36px;
        line-height: 103.3%;
        max-width: 390px;
        z-index: 999;
    }

    &__text {
        margin: 30px 0;
        font-size: 14px;
        line-height: 16px;
        max-width: 327px;
        letter-spacing: 0.05em;
    }

    &__read {
        position: relative;
        color: #994B2A;
        transition: all 0.8s;
    }

    &__read::after {
        position: absolute;
        content: '';
        background-image: url(../images/arrow-read.svg);
        top: 5px;
        right: -15px;
        width: 10px;
        height: 9px;
    }

    &__read:hover {
        margin-left: 8px;
    }

    &__contacts {
        padding: 64px 0 0 60px;
        letter-spacing: 0.05em;
    }

    &__contacts-border {
        border-top: 1px solid #1F4437;
        width: 22px;
        margin: 13px 0;
    }

    &__phone-text {
        text-transform: uppercase;
        font-family: 'Raleway-Medium';
    }

    &__phone {
        font-weight: 700;
    }

    &__work {
        margin-top: 5px;
    }

    &__email-text {
        text-transform: uppercase;
        margin-top: 28px;
    }

    &__email-delivery {
        margin-bottom: 6px;
    }

    &__email {
        font-weight: 700;
    }

    &__email-question {
        margin: 26px 0 6px 0;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 64px 0 15px 62px;
    }

    &__bottom-feedback {
        margin-right: 50px;
        transition: all 0.8s;
    }

    &__bottom-feedback:hover {
        color: #994B2A;
        margin-right: 56px;
    }

}

.dropdown-content {
    &__inner {
        display: flex;
    }
}

.dropdown-right {
    display: flex;
    position: absolute;
    opacity: 0;
    right: 300px;
    top: 27px;
    transition: all 0.4s;

    &__image {
        max-width: 233px;
    }

    &__text {
        max-width: 346px;
        margin-left: 19px;
        margin-top: 25px;
        font-size: 14px;
        letter-spacing: 0.05em;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            background-image: url(../images/products/product-border.svg);
            width: 22px;
            height: 1px;
            top: -25px;
        }
    }
}

.top {

    &__inner {
        padding-bottom: 130px;
    }

    &__slider-inner {
        display: flex;
        position: relative;
    }

    &__slider-img {
        width: 100%;
        max-height: 460px;
    }

    &__slider-info {
        max-width: 330px;
        position: absolute;
        color: #FFF;
        // margin-left: 440px;
        // top: 100px;
        transform: translate(500px, 100px);
    }

    &__slider-text {
        line-height: 19px;
        letter-spacing: 0.05em;
        max-width: 250px;
        margin-bottom: 48px;
    }
}

.slick-dots {
    display: flex;
    justify-content: center;

    li {
        z-index: 99;
        margin: -60px 15px 0 15px;
    }

    button {
        background-color: rgba(243, 242, 242, 0.76);
        border: none;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        font-size: 0;
        padding: 0;
    }

    li.slick-active button {
        background-color: #fff;
    }
}

.swiper-popular,
.swiper-collection {
    &__title-link {
        transition: all 0.5s;

        &:hover {
            letter-spacing: 1.2px;
        }
    }
}

.popular {
    padding: 50px 0 90px;

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__arrows {
        position: relative;
    }
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #994B2A;
    display: none;
}

.popular__arrows {
    margin-right: 2px;
    display: flex;
    justify-content: space-between;
    max-width: 70px;
    width: 100%;
}

.swiper-button-next {
    background-image: url('../images/slider-arrow-right.svg');
    width: 41px;
    height: 41px;
}

.swiper-button-prev {
    background-image: url('../images/slider-arrow-left.svg');
    width: 41px;
    height: 41px;
    margin-left: -80px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    display: flex;
    color: #994B2A;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.4rem;
    max-width: 41px;
}

.swiper-pagination {
    margin-left: -21px;
}

.swiper-popular,
.filters-wrapper {
    &__title {
        @extend %Playfair-600;
        font-size: 24px;
        line-height: 32px;
    }

    &__title-bottom {
        @extend %Playfair-600;
        position: relative;
        line-height: 21px;
        letter-spacing: -0.01em;
    }

    &__title-bottom::after {
        position: absolute;
        content: '';
        background-image: url(../images/products/product-border.svg);
        width: 22px;
        height: 1px;
        left: 1px;
        top: 22px;
    }

    &__text {
        margin-top: 5px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
    }
}

.swiper-wrapper
 {
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    padding: 20px 0;
}

.swiper-slide,
.filters-wrapper {
    &__img {
        object-fit: cover;
    }

    &__bottom {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    &__price {
        font-size: 14px;
        letter-spacing: 0.05em;
        font-weight: 700;
        font-feature-settings: 'pnum'on, 'lnum'on;
    }

    &__add-cart {
        letter-spacing: 0.05em;
        font-feature-settings: 'pnum'on, 'lnum'on;
        color: #994B2A;
        position: relative;
        line-height: 1;
        text-decoration: none;
        margin-right: 5px;

        &::after {
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #994B2A;
            content: "";
            transition: width 0.3s ease-out;
        }

        &:hover::after,
        &:active::after,
        &:focus::after {
            width: 100%;
        }
    }
}

.swiper-scrollbar {
    background-color: #994b2a21;
}

.swiper-scrollbar-drag {
    background-color: #994B2A;
    max-width: 195px;
    cursor: pointer;
}

.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
    position: relative;
    width: 100%;
    left: 0;
}

// .image-slider .swiper-button-prev::after {
//     width: 20px;
//     height: 20px;
//     color: #0c3d0a;
//     top: 10px;
//     background-color: #333;
//     font-size: 18px;
// }

.collections {
    padding: 90px 0 100px 0;

    &__inner {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
    }



    &__image {
        max-width: 400px;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.05);
            opacity: 0.8;
        }
    }

    &__info {
        margin-top: 28px;
        max-width: 390px;
    }

    &__info-text {
        line-height: 19px;
        letter-spacing: 0.05em;
        padding-top: 10px;
        margin-bottom: 18px;
    }
}

.reviews {
    background-image: url(../images/Group\ 233.jpg);
    padding: 90px 0 90px 0;
    background-position: center;
    background-size: cover;
    color: #fff;

    &__inner {
        display: grid;
        font-size: 16px;
        text-align: center;
        justify-content: center;
        justify-items: center;
        letter-spacing: 0.05em;
    }

    &__title {
        position: relative;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        &::after {
            position: absolute;
            content: '';
            border-image: url(../images/line-slider.svg);
            background-size: cover;
            height: 1px;
            max-width: 85px;
            top: 30px;
            left: 0;
            background-color: #fff;
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        max-width: 645px;
        margin-top: 40px;
        @extend %Raleway-italic;
        line-height: 22px;
        opacity: 0.8;
        position: relative;
    }

    &__border {
        border-bottom: 1px solid #fff;
        width: 22px;
        opacity: 0.7;
        margin-top: 40px;
    }

    &__name {
        margin-top: 35px;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        font-weight: 400;
    }

    &__profession {
        margin-top: 5px;
        font-size: 14px;
        color: #DBB19F;
    }
}

.swiper-reviews {
    overflow: hidden;
    position: relative;
}

.swiper-button-next-reviews {
    width: 41px;
    height: 41px;
    cursor: pointer;
    right: 0;
    position: absolute;
    fill: #DBB19F;
    transition: all 0.5s;

    &:hover {
        opacity: 0.5;
    }
}

.swiper-button-prev-reviews {
    width: 41px;
    height: 41px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 45%;
    z-index: 99;
    transition: all 0.5s;

    &:hover {
        opacity: 0.5;
    }
}

.swiper-pagination-reviews {
    &__inner {
        display: flex;
        justify-content: center;
        margin-top: 27px;
    }
}

.swiper-pagination-bullet {
    padding: 5px;
    background-color: #fff;
}

.advantages {
    padding: 66px 0 95px;

    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
    }

    &__item {
        text-align: center;
        display: grid;
        justify-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;

        & img {
            width: 90px;
            height: 90px;
        }
    }

    &__image {
        border: 2px solid #DBB19F;
        border-radius: 50%;
        padding: 25px;
        transition: all 0.6s;

        &:hover {
            transform: scale(0.8);
        }
    }

    &__number {
        margin-top: 17px;
        font-size: 12px;
        line-height: 14px;
        font-feature-settings: 'pnum'on, 'lnum'on;
    }

    &__text {
        margin-top: 40px;
    }
}

.information {
    background-image: url(../images/info-bg.jpg);
    padding: 111px 0 239px;
    background-repeat: no-repeat;
    background-size: cover;

    &__text {
        font-size: 36px;
        line-height: 103.3%;
        letter-spacing: -0.01em;
        color: #FFF;
        max-width: 757px;
        @extend %Playfair-400;
        margin-bottom: 154px;
    }

    &__link-more {
        color: #FFF;

        &::before {
            position: absolute;
            content: '';
            background-image: url(../images/arrow-right-info.svg);
            top: 5px;
            right: -15px;
            width: 10px;
            height: 11px;
        }
    }
}

.collection-body {
    padding: 169px 0 92px;
}

.swiper2 {
    overflow: hidden;
}

.swiper-pagination2 {
    margin-left: -21px;
}

// C O L L E C T I O N S  P A G E
.collections-top {
    padding: 110px 0 160px;

    &__title {
        @extend %Playfair-400;
        font-size: 36px;
        line-height: 103.3%;
        letter-spacing: -0.01em;
        position: relative;
        margin-bottom: 40px;

        &::before {
            position: absolute;
            content: '';
            bottom: -13px;
            background-image: url(../images/line-slider.svg);
            height: 1px;
            max-width: 85px;
            width: 100%;
        }
    }

    &__items {
        display: grid;
        max-width: 980px;
        margin-left: auto;
        margin-right: 60px;
    }
}

.collections {
    &__item-right {
        display: grid;
        justify-items: end;
        margin-right: 10%;
    }
}

// B O T A N I C A  P A G E

.collection-page {
    padding: 130px 0;
    &__items {
        // display: flex;
        // justify-content: space-between;
        margin-top: 51px;
        display: grid;
        gap: 31px;
        grid-template-columns: 288px 288px 288px 288px;
    }
}




.footer {
    background-color: #1F4437;
    color: #fff;
    padding: 71px 0 124px;

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__info-title {
        @extend %Playfair-400;
        font-size: 60px;
        line-height: 103.64%;
        letter-spacing: -0.03em;
        max-width: 470px;
    }

    &__info-text {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
        max-width: 300px;
        opacity: 0.8;
        margin-top: 30px;
    }

    .mailing label {
        z-index: 0;
        position: relative;
    }

    &__form-inner {
        display: flex;
        align-items: flex-end;
    }

    &__form-input {
        padding: 14px 128px 16px 12px;
        background: rgba(255, 255, 255, 0.1);
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.808);
        margin-top: 6px;

        &::placeholder {
            font-family: 'Raleway';
        }
    }

    &__form-btn {
        background-color: #DBB19F;
        border: none;
        padding: 16px 15px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        margin-left: 19px;
        transition: all 0.8s;
    }

    &__form-btn:hover {
        background-color: #fff;
        @extend %color-text;
        border-radius: 10px;
    }

    &__top-logo {
        margin-top: 30px;
    }

    &__bottom {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
    }

    &__menu-item {
        margin-top: 10px;
    }

    &__menu-link {
        color: rgba(255, 255, 255, 0.6);
        transition: all 0.8s;
    }

    &__menu-link:hover,
    &__menu-link:focus,
    &__menu-link:active {
        color: #fff;
    }

    &__social {
        display: flex;
        margin-top: 10px;
    }

    &__social li:not(:first-child) {
        margin-left: 20px;
    }

    &__contacts-items {
        display: grid;
        color: rgba(255, 255, 255, 0.6);
    }

    &__copyright {
        max-width: 305px;
        color: rgba(255, 255, 255, 0.6);
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
    }

    &__copyright-text p {
        margin-top: 8px;
    }

    &__contacts-items a {
        margin-top: 10px;
    }
}